<%- stylesheets "index", "live_validation" %>
<%= javascript_include_tag :defaults, "live_validation" %>

<% title_page(" - Fale Conosco") %>
<div id="pnlAllContato">
	<%= title("Contate", "a empresa") %>
	<br />
	<div id="pnlContato">
		<div id="alignFormulario">
			<p>Campos que possuem <b>*</b> são de preenchimento obrigatório.</p><br />
			<%- flash.each do |name, msg| -%>
      		<%= content_tag :div, msg, :id => "flash_#{name}" %>
    	<%- end -%>
			<% form_for(@contact) do |f|  %>
			  											 
					<label for="contact_name">* Nome:</label>
						<%= text_field "contact", "nome", :size => 30, :class => "forms" %><br />

					<label for="contact_address">* Email:</label>
						<%= text_field "contact", "email", :size => 30, :class => "forms" %><br />

					<label for="contact_subject">* Assunto:</label>
						<%= text_field "contact", "assunto", :size => 30, :class => "forms" %><br />
					
					<label for="contact_mensagem">* Mensgem:</label>
					<%= text_area "contact", "mensagem", :class => "forms_area", :style=>"overflow: auto;" %><br />

					<%= submit_tag "Enviar", :class => "button-enviar" %>

			<% end %>
			<br /><br />
			<p class="nota-formulario">
				Rua do Comércio, 665 - Fone: (54) 3374-1105<br />
				Cep: 99940-000 - Ibiaçá/RS
			</p>
			
		</div>

		<%= image_tag("contato.jpg", :class => "img-contato") %>

	</div>
</div>
